 <div class="row topmargin">
        <div class="col-md-4">
            <div class="jumbotron bgwhitecolor">
                <button type="button" onclick="location.href='/newanalysis'" class="btn btn-danger btn-lg">Analysis</button>
            </div>
        </div>
</div>
 <div class="row topmargin">
        <div class="col-md-4">
            <div class="jumbotron bgwhitecolor">
                <button type="button" onclick="location.href='/laststate'" class="btn btn-danger btn-lg">Last State</button>
            </div>
        </div>
</div>
<div class="row topmargin">
        <div class="col-md-4">
            <div class="jumbotron bgwhitecolor">
                <button type="button" onclick="location.href='/recommendation'" class="btn btn-danger btn-lg">Recommend</button>
            </div>
        </div>
</div>