<% provide(:title, "AboutUs") %>
    <div class="row">
        <div class="col-md-12">
            <h1><span class="label label-danger">AboutUs</span></h1> </div>
    </div>
<div class="row topmargin">
    <div class="col-md-12">
        <div class="well bgwhitecolor">
            This is a Software as a Service (SaaS) for people who want to have ideal fitness but in this way they have to face with challenges such as spending big money, medical measurements because they don’t have easy access to related equipment, and also paying huge money for getting advices of experts in fitness. This SaaS also provides a platform for communication among users in order to enhance knowledge sharing in the area of fitness and related best practices
        </div>
    </div>
</div>
<div class="row topmargin">
    <div class="col-md-12">
        <p>This SaaS is designed and provided by:</p>
    </div>
</div>
<div class="row topmargin">
        <div class="col-md-6">
          <div class="panel panel-danger">
              <div class="panel-heading bgred center">
                  <p>Amirhosein Bodaghi</p>
                  <p>PhD student of IT Engineering</p>
                  <p>University of Tehran</p>
              </div>
                  <div class="panel-body">
                      <%= image_tag("p1.jpg", alt: "amirhossein",class:"img-responsive imgcenter ") %>
                    </div>
            </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-danger">
              <div class="panel-heading bgred center">
                  <p>Mohsen Ghassemi Parsa</p>
                  <p>PhD student of IT Engineering</p>
                  <p>University of Tehran</p>
              </div>
                  <div class="panel-body">
                      <%= image_tag("p2.jpg", alt: "mohsen",class:"img-responsive imgcenter ") %>
                    </div>
            </div>
        </div>
</div>