<% provide(:title, "contactus") %>
    <div class="row">
        <div class="col-md-12">
            <h1><span class="label label-danger">ContactUs</span></h1> </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row ">
                <div class="col-md-12">
                    <h4>Emails:</h4> </div>
            </div>
            <div class="row">
                <div class="col-md-12"> <a class="emaillink" href="mailto:A_bodaghi@ut.ac.ir?subject=Mail from HFA">A_bodaghi@ut.ac.ir</a> </div>
            </div>
            <div class="row">
                <div class="col-md-12"> <a class="emaillink" href="mailto:mgparsa@ut.ac.ir?subject=Mail from HFA">mgparsa@ut.ac.ir</a> </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h4>Tel:</h4> </div>
            </div>
            <div class="row ">
                <div class="col-md-12">
                    <p class="leftmarginform">+989126230952</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="leftmarginform">+989124375320</p>
                </div>
            </div>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <h4>Affiliation:</h4> </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="leftmarginform">Faculty of New Sciences and Technologies, University Of Tehran</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h4>Address:</h4> </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="leftmarginform">North Kargar St., Tehran, Iran
                    </p>
                </div>
            </div>
        </div>
    </div>


    <div class="row topmargin">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <div class="col-md-1">
                                <label>Name:</label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" id="name" placeholder="Enter name"> </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-1">
                                <label>Email:</label>
                            </div>
                            <div class="col-sm-3">
                                <input type="email" class="form-control" id="email" placeholder="Enter email"> </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-1">
                                <label>Comment:</label>
                            </div>
                            <div class="col-sm-6">
                                <textarea class="form-control" rows="5" id="comment"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-1 col-sm-10">
                                <button type="submit" class="btn btn-default">Submit it</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>