<% provide(:title, "Home") %>
<div class="row topmargin">
    <div class="col-md-12">
        <%= image_tag("main_pic.jpg", alt: "main_pic",class:"img-responsive") %>
    </div>
</div>
    <div class="row topmargin">
        <div class="col-md-8">
            <div class="jumbotron bgnice">
                <p>Hereafter, You don't have to:</p>
                <ul>
                  <li>Pay big money to get medical consultant</li>
                  <li>Access Medical Measuring Devices</li>
                  <li>Get in trouble to acquire specialized knowledge</li>
                </ul>
                <p>We gift you the ideal fitness as simple as possible</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="jumbotron bgwhitecolor">
                <button type="button" onclick="location.href='/signup'" class="btn btn-danger btn-lg">JOIN US FOR FREE!</button>
            </div>
        </div>
    </div>