<p id="notice"><%= notice %></p>

<h1>Listing Analyses</h1>

<table>
  <thead>
    <tr>
      <th>Userid</th>
      <th>Weight</th>
      <th>Length</th>
      <th>Waist</th>
      <th>Hip</th>
      <th>Avalue</th>
      <th>Push up</th>
      <th>Sit up</th>
      <th>Bvalue</th>
      <th>Phalanx number</th>
      <th>Cvalue</th>
      <th>Fitness</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @analyses.each do |analysis| %>
      <tr>
        <td><%= analysis.userid %></td>
        <td><%= analysis.weight %></td>
        <td><%= analysis.length %></td>
        <td><%= analysis.waist %></td>
        <td><%= analysis.hip %></td>
        <td><%= analysis.avalue %></td>
        <td><%= analysis.push_up %></td>
        <td><%= analysis.sit_up %></td>
        <td><%= analysis.bvalue %></td>
        <td><%= analysis.phalanx_number %></td>
        <td><%= analysis.cvalue %></td>
        <td><%= analysis.fitness %></td>
        <td><%= link_to 'Show', analysis %></td>
        <td><%= link_to 'Edit', edit_analysis_path(analysis) %></td>
        <td><%= link_to 'Destroy', analysis, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Analysis', new_analysis_path %>
