<br/>
<br/>
<p>
  <strong>Your Fitness:</strong>
  <%= @analysis.fitness %>
</p>

<p>
  <strong>Body Fat Distribution:</strong>
  <%= @analysis.avalue %>
</p>
<p>
  <strong>Muscular Endurance:</strong>
  <%= @analysis.bvalue %>
</p>
<p>
  <strong>Stretchiness of Body:</strong>
  <%= @analysis.cvalue %>
</p>
