<p id="notice"><%= notice %></p>

<p>
  <strong>Userid:</strong>
  <%= @analysis.userid %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @analysis.weight %>
</p>

<p>
  <strong>Length:</strong>
  <%= @analysis.length %>
</p>

<p>
  <strong>Waist:</strong>
  <%= @analysis.waist %>
</p>

<p>
  <strong>Hip:</strong>
  <%= @analysis.hip %>
</p>

<p>
  <strong>Avalue:</strong>
  <%= @analysis.avalue %>
</p>

<p>
  <strong>Push up:</strong>
  <%= @analysis.push_up %>
</p>

<p>
  <strong>Sit up:</strong>
  <%= @analysis.sit_up %>
</p>

<p>
  <strong>Bvalue:</strong>
  <%= @analysis.bvalue %>
</p>

<p>
  <strong>Phalanx number:</strong>
  <%= @analysis.phalanx_number %>
</p>

<p>
  <strong>Cvalue:</strong>
  <%= @analysis.cvalue %>
</p>

<p>
  <strong>Fitness:</strong>
  <%= @analysis.fitness %>
</p>

<%= link_to 'Edit', edit_analysis_path(@analysis) %> |
<%= link_to 'Back', analyses_path %>
