<%= form_for @analysis, url: wizard_path do |f| %>
  <div class="field">
    <%= f.label :push_up %><br>
    <%= f.number_field :push_up %>
  </div>
  <div class="field">
    <%= f.label :sit_up %><br>
    <%= f.number_field :sit_up %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
