<%= form_for @analysis, url: wizard_path do |f| %>
  <div class="field">
    <%= f.label :phalanx_number %><br>
    <%= f.number_field :phalanx_number %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>