<% if @rec_analysis.fitness <= 39 %>
•	Drinking a glass of carrot juice per day helps you to have less daily meals
•	Have low-salt cheese, low-fat milk and two dates in your breakfast
<% elsif @rec_analysis.fitness > 39 and  @rec_analysis.fitness <= 69 %>
•	Eat slowly and with calm
•	Drink about eight glass of water
<% elsif @rec_analysis.fitness > 69 and  @rec_analysis.fitness <= 85 %>
•	Have at least one fruit in your morning snack
•	Avoid eating cream pies
<% elsif @rec_analysis.fitness > 85  %>
•	Sleep at least 7-8 hours in a day
•	Try to have sweet potato rather than potato
<%end%>
<a href="recommendation"><h2>Back To </h2></a>