<% if @rec_analysis.fitness <= 39 %>
•	It is strongly recommended for you to consult with a sports doctor to take some special exercises.
•	Daily walking is essential for you

<% elsif @rec_analysis.fitness > 39 and  @rec_analysis.fitness <= 69 %>
•	Increase your daily sport activities gradually
•	Consider your physiologic constraint during your activities
<% elsif @rec_analysis.fitness > 69 and  @rec_analysis.fitness <= 85 %>
•	Do weight bearing exercises such as walking, jumping, yoga, Swedish push-up, bar fix and plyometric to bulk up your muscles
•	Keep your muscles in static stretch periodically (30 seconds in each cycle) 
<% elsif @rec_analysis.fitness > 85  %>
•	To avoid doing activities excessively, limit the time cycle of your exercises up to 100 minutes (depends of your sport filed)
•	Control your heart rate about 10 minutes after finishing the exercise
<%end%>
<a href="recommendation"><h2>Back To </h2></a>