<div class="row topmargin">
        <div class="col-md-6">
          <div class="panel panel-danger">
              <div class="panel-heading bgred center">
                  <a href="rec_nutrition"><h2>Nutrition</h2></a>
              </div>
                  <div class="panel-body">
                      <%= image_tag("p1.jpg", alt: "amirhossein",class:"img-responsive imgcenter ") %>
                    </div>
            </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-danger">
              <div class="panel-heading bgred center">
                  <a href="rec_exercise"><h2>Exercise</h2></a>
              </div>
                  <div class="panel-body">
                      <%= image_tag("p2.jpg", alt: "mohsen",class:"img-responsive imgcenter ") %>
                    </div>
            </div>
        </div>
</div>
<div class="row topmargin">
        <div class="col-md-6">
          <div class="panel panel-danger">
              <div class="panel-heading bgred center">
                  <a href="rec_dailyTips"><h2>Daily Tips</h2></a>
              </div>
                  <div class="panel-body">
                      <%= image_tag("p1.jpg", alt: "amirhossein",class:"img-responsive imgcenter ") %>
                    </div>
            </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-danger">
              <div class="panel-heading bgred center">
                  <a href="rec_mobileapp"><h2>Mobile App</h2></a>
              </div>
                  <div class="panel-body">
                      <%= image_tag("p2.jpg", alt: "mohsen",class:"img-responsive imgcenter ") %>
                    </div>
            </div>
        </div>
</div>