<% if @rec_analysis.fitness <= 39 %>
•	Mediterranean diet including fresh vegetables and fruits, olive oil and Whole grains is appropriate for you
•	You should avoid having red meat and use white meat instead of that.
•	Strongly Limit the use of sugar 
•	Put lemon, garlic and carrot in your diet
•	Don’t use Caffeine drinks   
<% elsif @rec_analysis.fitness > 39 and  @rec_analysis.fitness <= 69 %>
•	Having boiled foods instead of fried foods
•	Have tomato, cucumber, lettuce in your daily meals
•	Control using fats in your daily meals
•	Have these drinks in your daily schedule: Cranberry juice, Pineapple juice, Pomegranate juice
<% elsif @rec_analysis.fitness > 69 and  @rec_analysis.fitness <= 85 %>
•	Avoid eating when you are sad or upset
•	Have these items in your daily meals: lemon, grapefruit, orange, apple and kiwi
<% elsif @rec_analysis.fitness > 85  %>
•	Have these items in your daily meals: Enriched Almond, Soy milk, nuts and Spinach
•	Have carbohydrate foods in your daily meals specially after your exercise
<%end%>
<a href="recommendation"><h2>Back To </h2></a>