@import "bootstrap-sprockets";
@import "bootstrap";
/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}
.navbar-red{
  background-color: #b62d2d;
  margin: 0px auto;
}
h1.whitecolor{
  color: white;
}
h5.title{
  color:lightcoral;
}
.bgnice{
  background-image: url("bg_nice.jpg");
  color:#f95757;
}
.bgwhitecolor{
  background-color: white;
}
.panel > .panel-heading {
    background-image: none;
    background-color: #b62d2d;;
    color: white;

}
.imgcenter{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
a.emaillink{
  margin-left:50px;
}
.leftmarginform{
  margin-left:50px;
}
.topmargin{
  margin-top:10px;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}